body
{
    background-image: url("Images/Background.svg");
    background-attachment: fixed;
    background-repeat : no-repeat;
    background-size: cover;
}

.Corps
{
    position: relative;
    margin: auto;
    padding : 4vw;
    display: flex;
    flex-direction: column;
    width: 70vw;
    background : whitesmoke;
    box-shadow: 0 0 1vw black;
}

p
{
    margin : 2vw;
    font-family: Roboto, sans-serif;
    text-align: justify;
    font-size: 1.5vmax;
    height : max-content;
    overflow: visible;
    line-height: 2vmax;
}

p + ul
{
    margin-top : -1.5vmax ;
    margin-bottom : -1.5vmax ;
    font-family: Roboto, sans-serif;
    text-align: justify;
    font-size: 1.5vmax;
    height : max-content;
    overflow: visible;
}

p + ul li
{
    list-style-type: circle;
    position: relative;
    left : 10%;
    width: 80%;
}

.Menu
{
    background-image: url("Images/Menu_Background.png");
    background-repeat : no-repeat;
    background-size: cover;
    background-color: #113f57;
    box-shadow: 0 0 1vw black;
    z-index: 11;
    display: flex;
    flex-direction: column;
    position: fixed;
    top : 0;
    left : 0;
    height: 102vh;
    width: 40vw;
}

.Menu #Logo_site_menu
{
    width: 90%;
    height: auto;
    position: relative;
    left: 5%;
    top: 2vw;
}

.Menu a
{
    width: 90%;
    font-family: Norican, cursive;
    text-align: center;
    font-size : 1.5vmax;
    color: rgb(255, 255, 255);
    padding-top: 1.5vmax;
    text-decoration: none;
    position: relative;
    left: 5%;
}

.Menu span
{
    height: 0.1vmax;
    width: 80%;
    position: relative;
    left: 10%;
    background-color : white;
    margin-top : 4vh;
    margin-bottom: 4vh;
    border-radius: 40vw;
}

.Nav
{
    margin-left : -40vw;
    transition-duration: 0.2s;
}

.Nav_open
{
    margin-left: 0;
    transition-duration: 0.2s;
}

#Menu_btn
{
    z-index: 10;
    height: 90%;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

h1
{
    font-family: Norican, cursive;
    text-align: center;
    font-weight: normal;
    font-size : 3vmax;
    color: #00609b;
    margin: 0.5em;
    height: auto;
    text-decoration: none;
}

em
{
    font-family: Norican, cursive;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size : 1.9vmax;
    color: #00609b;
    margin: 0.5em;
    height: auto;
    text-decoration: none;
}


.Images {
    width: 45vw;
    padding: 1vw 1vw 3vw;
    margin : 1vw;
    overflow: hidden;
    box-shadow: 0 0 1vw black;
    background: #f5eedb;
}

.Images .inactive
{
    position: absolute;
    display: none;
}

@media screen {
    .Corps .Lines-container
    {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .Corps .Lines-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.Corps .Lines-container .Flex-container
{
    width: 75vw;
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

#Page_suivante_texte
{
    text-decoration: none;
    text-align: center;
    margin: 1vmax;
    padding: 1vmax;
    font-family: Norican, cursive;
    font-weight: normal;
    font-size : 3vmax;
    color: #00609b;
    height: auto;
}

.Arrow_button
{
    height: 10vh ;
}

#Page_suivante
{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    align-self: center;
}

#footer
{
    z-index: 10;
    position: absolute;
    left:0;
    background-image: url("Images/Header_Background.svg");
    background-attachment: fixed;
    background-repeat : no-repeat;
    background-size: cover;
    height: 10vh;
    width: 100%;
    box-shadow: 0 0 1vh black;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

#header
{
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url("Images/Header_Background.svg");
    background-attachment: fixed;
    background-repeat : no-repeat;
    background-size: cover;
    height: 10vh;
    width: 100%;
    box-shadow: 0 0 1vh black;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}


#Logo_site_header
{
    height: 100%;
    width: auto;
}

#Logo_site_footer, #Logo_ECM_footer
{
    height: 100%;
    width: auto;
}

.Asso_wLogo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Asso_wLogo img
{
    height: 20vh;
    width: auto;
}



