#ContainerContactPage
{
    display: grid;
    justify-content: center;
}

#TitreContacts{
    font-family: "Kaushan Script", cursive;
    color: white;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.8);
}

#TitreLinks{
    font-family: "Kaushan Script", cursive;
    color: white;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.8);
}

#Contacts{
    display: grid;
    justify-content: center;
}

#SocialNetworks{
    display: grid;
    justify-content: center;
}

#SocialNetworksLinks-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    #SocialNetworks{
        grid-template-rows: 5vh 15vh;
    }

    #SocialNetworksLinks-container{
        width: 80vw;
    }

    #ContainerContactPage {
        grid-template-columns: 90vw;
        grid-template-areas:
                "a"
                "b";
    }

    #Contacts{
        grid-template-rows: 8vh auto auto auto;
        grid-area: a;
    }

    #SocialNetworks{
        grid-area: b;
    }

    #TitreContacts{
        font-size: 3vh;
    }

    #TitreLinks{
        font-size: 3vh;
    }
}

@media only screen and (min-width: 768px) {
    #SocialNetworksLinks-container{
        flex-direction: column;
    }

    #SocialNetworks{
        grid-template-rows: 10vh auto;
    }

    #ContainerContactPage
    {
        grid-template-areas: "a b";
        grid-template-columns: 17vw 45vw;
    }

    #Contacts{
        grid-template-rows: 10vh auto auto auto;
        grid-area: b;
    }

    #SocialNetworks{
        grid-area: a;
    }
}

