#ContainerContactPage
{
    display: grid;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

#ContainerContactPage h1
{
    font-family: "Kaushan Script", cursive;
}

@media only screen and (max-width: 767px) {
    #ContainerContactPage {
        grid-template-columns: 90vw;
    }

    .SocialNetworkButton{
         display: inline-block;
    }
}

@media only screen and (min-width: 768px) {
    #ContainerContactPage
    {
        grid-template-columns: 15vw 45vw;
    }

    .SocialNetworkButton{
        display: block;
    }
}

.SocialNetworkButton{
    background-size: contain;
    color: #fff;
    width: 120px;
    height: 120px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
    font-family: "Kaushan Script", cursive;
    text-decoration:none
}

.ContactInfo{
    display: grid;
    width: 100%;
    grid-template: "head head"
                    "nav  main"
                    /20% 80%;
}

.ContactInfo header {
    grid-area: head;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-family: "Roboto", cursive;
}

.ContactInfo nav {
    grid-area: nav;
}

.ContactInfo main {
    grid-area: main;
}

.ContactInfo span {
    text-shadow: 1px 1px 2px black;
    display: inline-flex;
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto, cursive;
}

.ContactInfo p {
    text-shadow: 1px 1px 2px black;
    margin: 5px;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}
