#MarseillePage
{
    display: grid;
    grid-auto-rows: auto auto;
    grid-gap: 0.2vmax;
    text-align: justify;
    justify-content: center;
    padding: 2vmin;
}

@media only screen and (max-width: 767px) {
    #MarseillePage {
        grid-template-columns: 90vw;
    }
}

@media only screen and (min-width: 768px) {
    #MarseillePage {
        grid-template-columns: 50vw;
    }
}