#Asso_UA
{
    grid-area: d;
}

#pole_sport
{
    grid-area: a;
}

#pole_business
{
    grid-area: f;
}

#pole_VDE
{
    grid-area: c;
}

#pole_culture
{
    grid-area: e;
}

#pole_innovation
{
    grid-area: g;
}

#pole_citoyennete
{
    grid-area: b;
}

.Buttons
{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 1vmax black;
}

#Asso_UA
{
    border-radius: 10vmax;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 1vmax black;
}

#AlphaButtons_container
{
    display: grid;
    grid-gap: 2vmax;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    #AlphaButtons_container {
        width: 90vw;
        height: 40vh;
        grid-template-areas:
                "h h a a a j b b b i i"
                "h h a a a j b b b i i"
                "h h a a a j b b b i i"
                "p c c c d d d e e e q"
                "p c c c d d d e e e q"
                "p c c c d d d e e e q"
                "n n f f f m g g g o o"
                "n n f f f m g g g o o"
                "n n f f f m g g g o o";
    }

    .Buttons
    {
        border-radius: 2vmax;
    }

    #Asso_UA .PopUpBTN
    {
        height: 13vh;
    }
}

@media only screen and (min-width: 768px) {
    #AlphaButtons_container {
        width: 50vw;
        height: 40vh;
        grid-template-areas:
                "h h a a a a a j b b b b b i i"
                "h h a a a a a j b b b b b i i"
                "h h a a a a a j b b b b b i i"
                "c c c c c k d d d l e e e e e"
                "c c c c c k d d d l e e e e e"
                "c c c c c k d d d l e e e e e"
                "n n f f f f f m g g g g g o o"
                "n n f f f f f m g g g g g o o"
                "n n f f f f f m g g g g g o o";

    }

    .Buttons
    {
        border-radius: 1vmax;
    }

    #Asso_UA .PopUpBTN
    {
        height: 15vh;
    }
}

