.ContactInfo{
    display: grid;
    grid-template-areas:
            "a a a a b"
            "c e d d d"
            "c e d d d";
    align-items: center;
}

.h1ContactInfo{
    grid-area: a;
    font-family: "Roboto Thin", sans-serif;
    text-align: left;
    color: white;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.8);
}

.TraitVerticalContact{
    grid-area: e;
}

.TelEtMailContact{
    grid-area: d;
    width: 100%;
}

.NumberOrMail{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.8);
    text-align: left;
}

.TelEtMailContactP{
    font-family: "Kaushan Script", cursive;
    color: white;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.8);
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .ContactInfo{
        width: 80vw;
        grid-template-columns: 8vw 4vw 26vw 26vw 26vw;
        grid-template-rows: 4vh 4vh 4vh;
        grid-gap: 0.1vh;

    }

    .TraitVerticalContact{
        height: 8vh;
    }

    .h1ContactInfo{
        font-size: 1.7vh;
    }

    .TelEtMailContactP{
        font-size: 1.6vh;
    }
}

@media only screen and (min-width: 768px) {
    .ContactInfo{
        width: 33vw;
        grid-template-columns: 4vw 2vw 9vw 9vw 9vw;
        grid-template-rows: 5vh 5vh 5vh;
        grid-gap: 0.1vw;
    }

    .TraitVerticalContact{
        height: 12vh;
    }

    .h1ContactInfo{
        font-size: 1.1vw;
    }

    .TelEtMailContactP{
        font-size: 1.0vw;
    }

}
