#Formulaire
{
    display: block;
    border: none;
    border-radius: 1vmax;
    font-family: "Kaushan Script", cursive;
    color : white;
    background-image: url("../../Assets/Bordures/Bordures__ecole.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0.5vmax black;
    margin: auto;
    padding: 1.2vmax;
    overflow: auto;
    width: fit-content;
    text-decoration: none;
}

#Formulaire:hover
{
    box-shadow: 0 0 0.5vmax #225465;
    color: lightblue;
    cursor: pointer;
}


@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    #Formulaire:hover
    {
        box-shadow: 0 0 0.5vmax white;
        cursor: pointer;
    }
}


@media only screen and (max-width: 767px)  {
    #Formulaire
    {
        font-size: 2.5vmax;
        max-height: 20vh;
    }
}

@media only screen and (min-width: 768px) {

    #Formulaire
    {
        font-size: 1.3vmax;
        max-height: 15vh;
    }
}
