#CG{
    font-family: "Roboto", cursive;
    font-size: 10pt;
    text-align: justify;
}

#CG p{
    font-weight: bold;
    color: #fff;
}

#Formulaire input{
    font-family: "Roboto", cursive;
    font-size: 15px;
    border-color: #fff;
    border-radius: 15px;
    border-width: 1px;
    color: #fff;
    margin: 3px;
    background-image: url("../../Assets/Bordures/Bordures__ecole.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 8px;
}

#Formulaire button{
    font-family: "Roboto", cursive;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    border-width: 1px;
    color: #fff;
    background-image: url("../../Assets/Bordures/Bordures__ecole.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Formulaire button:hover{
    box-shadow: 0 0 0.5vmax blue;
    color: lightblue;
    cursor: pointer;
}

#Formulaire
{
    display: block;
    border: none;
    border-radius: 1vmax;
    font-family: "Kaushan Script", cursive;
    color : white;
    background-image: url("../../Assets/Bordures/Bordures__ecole.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0.5vmax black;
    margin: auto;
    padding: 0.8vmax;
}

#Formulaire:hover
{
    box-shadow: 0 0 0.5vmax blue;
    color: lightblue;
    cursor: pointer;
}


@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    #Formulaire:hover
    {
        box-shadow: 0 0 0.5vmax white;
        cursor: pointer;
    }
}


@media only screen and (max-width: 767px)  {
    #Formulaire
    {
        font-size: 2.5vmax;
    }
    #Formulaire input
    {
        font-size: 2vmax;
    }
}

@media only screen and (min-width: 768px) {

    #Formulaire
    {
        font-size: 1.3vmax;
    }
    #Formulaire input
    {
        font-size: 1.3vmax;
    }
    #Formulaire button
    {
        font-size: 1.3vmax;
    }
}
