.Bordure
{
    background-image: url("../../../src/Assets/Bordures/Bordures__ecole.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    width: 50vw;
}

.top
{
    border-radius: 2vmax 2vmax 0 0;
}

.bot
{
    border-radius: 0 0 2vmax 2vmax;
}

p
{
    font-family: Roboto, sans-serif;
    color: black;
    margin: auto;
}

#Message h1
{
    font-family: "Kaushan Script", cursive;
    color: black;
    margin: 1vw 4vw;
}

@media only screen and (max-width: 767px) {
    #Message p
    {
        font-size: 1.5vmax;
        padding: 0 2vmax 1.5vmax;
    }

    #Message h1
    {
        font-size: 2.5vmax;
    }

    .Bordure
    {
        height: 4vmax;
        width: 90vw;
    }
}

@media only screen and (min-width: 768px) {
    #Message p
    {
        font-size: 0.9vmax;
        padding: 0 2vmax 1.5vmax;
    }

    #Message h1
    {
        font-size: 1.5vmax;
    }

    .Bordure
    {
        height: 4vmin;
        width: 50vw;
    }
}

#Message_container
{
    background-color: white;
    border-radius: 2vmax;
    box-shadow: 0 0 1vmax black ;
}