.BordureMessageComponent
{
    background-image: url("../../../src/Assets/Bordures/Bordures__ecole.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.topMessageComponent
{
    border-radius: 2vmax 2vmax 0 0;
}

.botMessageComponent
{
    border-radius: 0 0 2vmax 2vmax;
}

#pIDMessageComponent
{
    font-family: Roboto, sans-serif;
    color: black;
    margin: auto;
}

#h1IDMessageComponent
{
    font-family: "Kaushan Script", cursive;
    color: black;
    margin: 1vw 4vw;
}

@media only screen and (max-width: 767px) {
    #pIDMessageComponent
    {
        font-size: 1.1vmax;
        padding: 0 2vmax 1.5vmax;
    }

    #h1IDMessageComponent
    {
        font-size: 2.5vmax;
    }

    .BordureMessageComponent
    {
        height: 4vmax;
        width: 90vw;
    }
}

@media only screen and (min-width: 768px) {
    #pIDMessageComponent
    {
        font-size: 0.8vmax;
        padding: 0 2vmax 1.5vmax;
    }

    #h1IDMessageComponent
    {
        font-size: 1.5vmax;
    }

    .BordureMessageComponent
    {
        height: 4vmin;
        width: 50vw;
    }
}

#Message_container
{
    background-color: white;
    border-radius: 2vmax;
    box-shadow: 0 0 1vmax black ;
}