

@media only screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .pageViewContainer{
        display: grid;
        grid-template-columns: 10vw 80vw 10vw;
        height: calc(100% - 85px - 60px);
    }

    #ColumnRight{
        height: calc(100vh - 85px - 60px);
        align-items: center;
        display: flex;
    }

    #ColumnLeft{
        height: calc(100vh - 85px - 60px);
        align-items: center;
        display: flex;
    }

    a.ScrollButton{
        display: flex;
        height: 10vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-family: "Kaushan Script", cursive;
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
        font-size: 1.4vw;
        text-decoration: none;
        text-shadow: #000000 -1px -1px 3px, #000000 1px -1px 3px;
    }

    #BottomButtons{
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    /* smartphone */
    .pageViewContainer{
        display: grid;
        height: calc(100% - 85px - 60px);
    }

    a.ScrollButton{
        display: none;
    }

    #BottomButtons{
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 60px;
    }

    .BottomButton{
        display:flex;
        width: 40%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 6vw;
        text-decoration: none;
        background-size: contain;
        background-repeat: no-repeat;
        font-family: "Kaushan Script", cursive;
        text-shadow: #000000 -1px -1px 2px, #000000 1px -1px 2px;
    }

    .BottomButtonLeft{
        background-image: url('../../Assets/Buttons/Buttons__scroll_sp_left.png');
        background-position: left;
    }

    .BottomButtonRight{
        background-image: url('../../Assets/Buttons/Buttons__scroll_sp_right.png');
        background-position: right;
    }
    #ColumnRight{
        display: none;
    }

    #ColumnLeft{
        display: none;
    }
}

.container{
    height: 100%;
    background-position: center;
    background-size: cover;
}

.MenuButton{
    width: 50px;
    height: 50px;
    float: right;
    margin: 15px;
}

.MenuLogo{
    height: 85px;
    float: left;
    margin-left: 15px;
}

.NavBar{
    height: 85px;
    background-image: url("../../Assets/Bordures/Bordures__ecole.png");
    background-size: 101vw;
    flex-direction: row;
    background-position: center;
    justify-content: center;
}

.Menu{
    display: grid;
    grid-template-columns: repeat(6,85px);
    grid-auto-rows: 80px;
    justify-content: end;
}

.MenuV {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    justify-content: center;
    grid-auto-rows: 85px;
}

.MenuItem{
    background-image:url("../../Assets/Menu/Menu_button_bc.png");
    background-repeat:no-repeat;
    background-position: center;
    height:100%;
    background-size: contain;
    font-size: 15px;
    font-family: "Kaushan Script", cursive;
    color: white;
}

.MenuItemV{
    background-image:url("../../Assets/Menu/Menu_button_bcV.png");
    background-repeat:no-repeat;
    background-position: center;
    height:100%;
    background-size: contain;
    font-family: "Kaushan Script", cursive;
    font-size: 15px;
    color: white;
}




.MenuItemEnd{
    background-image:url("../../Assets/Menu/Menu_button_bc_end.png");
}
.MenuItemEndV{
    background-image:url("../../Assets/Menu/Menu_button_bcV_end.png");
}


.MenuItemStart{
    background-image:url("../../Assets/Menu/Menu_button_bc_start.png");
}
.MenuItemStartV{
    background-image:url("../../Assets/Menu/Menu_button_bcV_start.png");
}

.MenuItem.MenuItemEnd:hover{
    background-image:url("../../Assets/Menu/Menu_button_bc_end_filled.png");
}
.MenuItemV.MenuItemEndV:hover{
    background-image:url("../../Assets/Menu/Menu_button_bcV_end_filled.png");
}

.MenuItem.MenuItemStart:hover{
    background-image:url("../../Assets/Menu/Menu_button_bc_start_filled.png");
}
.MenuItemV.MenuItemStartV:hover{
    background-image:url("../../Assets/Menu/Menu_button_bcV_start_filled.png");
}

.MenuItem:hover{
    background-image:url("../../Assets/Menu/Menu_button_bc_filled.png");
}

.MenuItemV:hover{
    background-image:url("../../Assets/Menu/Menu_button_bcV_filled.png");
}

.visited{
     background-image:url("../../Assets/Menu/Menu_button_bc_filled.png");
 }

.visitedV{
    background-image:url("../../Assets/Menu/Menu_button_bcV_filled.png");
}

.visitedStart{
    background-image:url("../../Assets/Menu/Menu_button_bc_start_filled.png");
}
.visitedVStart{
    background-image:url("../../Assets/Menu/Menu_button_bcV_start_filled.png");
}

.visitedEnd{
    background-image:url("../../Assets/Menu/Menu_button_bc_end_filled.png");
}
.visitedVEnd{
    background-image:url("../../Assets/Menu/Menu_button_bcV_end_filled.png");
}



.MenuItem a{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    text-decoration: none;
}

.MenuItemV a{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.MenuItem a.Impair{
    justify-content: flex-end;
}

.MenuItemV a.Impair{
    text-align: right
}



.ScrollButtonLeft{
    background-image: url("../../Assets/Buttons/Buttons__scroll_sp_left.png");
    background-position: left;
}

.ScrollButtonRight {
    background-image: url("../../Assets/Buttons/Buttons__scroll_sp_right.png");
    background-position: right;
}
