

@media only screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .pageViewContainer{
        display: grid;
        grid-template-columns: 5vw 90vw 5vw;
        height: 100%;
    }

    a.ScrollButton{
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    /* smartphone */
    .pageViewContainer{
        display: grid;
        height: 100%;
    }

    a.ScrollButton{
        display: none;
    }
}

.container{
    height: 100%;
}

.MenuButton{
    width: 50px;
    height: 50px;
    float: right;
    margin: 15px;
}

.MenuLogo{
    height: 85px;
    float: left;
    margin-left: 15px;
}

.NavBar{
    height: 85px;
    background-image: url("../../Assets/Bordures/Bordures__ecole.png");
    background-size: 101vw;
    flex-direction: row;
    background-position: center;
    justify-content: center;
}

.Menu{
    display: grid;
    grid-template-columns: repeat(6,85px);
    grid-auto-rows: 80px;
    justify-content: end;
}

.MenuV {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    justify-content: center;
    grid-auto-rows: 85px;
}

.MenuItem{
    background-image:url("../../Assets/Menu/Menu_button_bc.png");
    background-repeat:no-repeat;
    background-position: center;
    height:100%;
    background-size: contain;
    font-size: 15px;
    font-family: "Kaushan Script", cursive;
    color: white;
}

.MenuItemV{
    background-image:url("../../Assets/Menu/Menu_button_bcV.png");
    background-repeat:no-repeat;
    background-position: center;
    height:100%;
    background-size: contain;
    font-family: "Kaushan Script", cursive;
    font-size: 15px;
    color: white;
}




.MenuItemEnd{
    background-image:url("../../Assets/Menu/Menu_button_bc_end.png");
}
.MenuItemEndV{
    background-image:url("../../Assets/Menu/Menu_button_bcV_end.png");
}


.MenuItemStart{
    background-image:url("../../Assets/Menu/Menu_button_bc_start.png");
}
.MenuItemStartV{
    background-image:url("../../Assets/Menu/Menu_button_bcV_start.png");
}

.MenuItem.MenuItemEnd:hover{
    background-image:url("../../Assets/Menu/Menu_button_bc_end_filled.png");
}
.MenuItemV.MenuItemEndV:hover{
    background-image:url("../../Assets/Menu/Menu_button_bcV_end_filled.png");
}

.MenuItem.MenuItemStart:hover{
    background-image:url("../../Assets/Menu/Menu_button_bc_start_filled.png");
}
.MenuItemV.MenuItemStartV:hover{
    background-image:url("../../Assets/Menu/Menu_button_bcV_start_filled.png");
}

.MenuItem:hover{
    background-image:url("../../Assets/Menu/Menu_button_bc_filled.png");
}

.MenuItemV:hover{
    background-image:url("../../Assets/Menu/Menu_button_bcV_filled.png");
}

.visited{
     background-image:url("../../Assets/Menu/Menu_button_bc_filled.png");
 }

.visitedV{
    background-image:url("../../Assets/Menu/Menu_button_bcV_filled.png");
}

.visitedStart{
    background-image:url("../../Assets/Menu/Menu_button_bc_start_filled.png");
}
.visitedVStart{
    background-image:url("../../Assets/Menu/Menu_button_bcV_start_filled.png");
}

.visitedEnd{
    background-image:url("../../Assets/Menu/Menu_button_bc_end_filled.png");
}
.visitedVEnd{
    background-image:url("../../Assets/Menu/Menu_button_bcV_end_filled.png");
}



.MenuItem a{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    text-decoration: none;
}

.MenuItemV a{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.MenuItem a.Impair{
    justify-content: flex-end;
}

.MenuItemV a.Impair{
    text-align: right
}

a.ScrollButton{
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    color: #fff;
    justify-content: center;
}


.ScrollButtonTop{
    background-image: url("../../Assets/Buttons/Buttons__scroll_nav_top.png");

}

.ScrollButtonBot {
    background-image: url("../../Assets/Buttons/Buttons__scroll_nav_bot.png");
}
