.PopUp
{
    z-index: 10;
    background-color: white;
    position: fixed;
    top : 5vh;
    left : 5vw;
    height: 90vh;
    width: 90vw;
    border-radius: 1vmax;
    box-shadow: 0 0 1vmax black;
}

.croix
{
    cursor: pointer;
    width: 3vmax;
    margin-right: 2vmax;
}

.PopUp h1
{
    font-family: "Kaushan Script", cursive;
    color:white;
    margin-left: 2vmax;
}

.PopUp h2
{
    font-family: "Kaushan Script", cursive;
    color:black;
    font-size : 3vmax;
}

.close_area
{
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.line1-container
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    max-height: 11vh;
    margin: 5vh 2vmax 2.5vmax;
}

.line2-container
{
    max-height: 65vh;
    display: grid;
    grid-gap: 2.5vh;
    place-self: center;
    align-items: center;
    text-align: justify;
    margin: 2.5vh 2vw 2.5vmax;
}

.Photos
{
    padding: 1vmax;
    max-width: 100%;
}

.Message
{
    padding: 1vmax;
    font-family: Roboto, sans-serif;
    color:black;
}

.bordure
{
    background-size:cover;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-radius: 1vmax 1vmax 0 0;
    align-items: center;
}


.logoAssoPortail{
    height: 6vh;
}

.ligneAsso
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ligneAsso .nomAsso
{
    font-family: "Kaushan Script",cursive;
    color: black;
}

#PopUpPortail
{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 0;
}

@media only screen and (min-width: 768px){
    .ligneAsso
    {
        padding: 0 4vw;
        margin: 0 25vw;
    }

    .ligneAsso .enSavoirPlusBTN
    {
        height: 5vh;
    }

    .ligneAsso .nomAsso
    {
        font-size: 1.5vmax;
    }

    .PopUp h1
    {
        font-size : 1.5vmax;
    }

    .PopUp h2
    {
        font-size : 4vmax;
    }

    .logo
    {
        height: 15vh;
    }

    .bordure
    {
        height: 8vh;
    }

    .line2-container
    {
        grid-template-columns: 50% 40%;
        grid-template-rows: 60vh;
    }

    .Message
    {
        font-size: 1.5vmax;
        margin: 1vw;
        max-width: 50vw;
    }

    #Texte_PopUp
    {
        font-size: 1.2vmax;
    }

}

@media only screen and (max-width: 767px){
    .ligneAsso
    {
        padding: 0 4vw;
        margin: 0 4vw;
    }

    .ligneAsso .enSavoirPlusBTN
    {
        height: 8vw;
    }

    .ligneAsso .nomAsso
    {
        font-size: 2.0vmax;
    }

    .PopUp h1
    {
        font-size : 3vmax;
    }

    .PopUp h2
    {
        font-size : 3vmax;
    }

    .logo
    {
        height: 20vw;
    }


    .line2-container
    {
        grid-template-rows: 50% 40%;
        grid-template-columns: 80vw;
        justify-content: space-around;
        justify-items: center;
    }

    .Message
    {
        font-size: 1.7vmax;
        width: 100%;
    }

    .bordure
    {
        height: 7vh;
    }

    .Photo
    {
        max-height: 30vh;
    }
}

.vde
{
    background-image: url("../../../src/Assets/Bordures/Bordures__vde.png");
}

.sport
{
    background-image: url("../../../src/Assets/Bordures/Bordures__sport.png");
}

.reseaux
{
    background-image: url("../../../src/Assets/Bordures/Bordures__reseaux.png");
}

.business
{
    background-image: url("../../../src/Assets/Bordures/Bordures__business.png");
}

.culture
{
    background-image: url("../../../src/Assets/Bordures/Bordures__culture.png");
}

.citoyennete
{
    background-image: url("../../../src/Assets/Bordures/Bordures__citoyennete.png");
}

.innovation
{
    background-image: url("../../../src/Assets/Bordures/Bordures__inno.png");
}

.ecole
{
    background-image: url("../../../src/Assets/Bordures/Bordures__ecole.png");
}