.PopUpAsso
{
    z-index: 10;
    background-color: white;
    position: fixed;
    height: 90vh;
    width: 90vw;
    border-radius: 1.2vmax;
    box-shadow: 0 0 1vmax black;
}

.close_area
{
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#closeCrossPopUpAsso
{
    cursor: pointer;
    grid-column: 3/3;
}

#PoleAssociatif
{
    font-family: "Kaushan Script", cursive;
    color:white;
    margin-left: 2vmax;
    grid-column: 1/1;
}

#EntityName
{
    font-family: "Kaushan Script", cursive;
    color:black;
}

#row1-container
{
    display: grid;
    align-items: center;
}

#row2-container
{
    display: grid;
    align-items: center;
}

#SlideshowDiv
{
    padding: 1vmax;
    max-width: 100%;
}

#Bordure
{
    background-size:cover;
    background-color: black;
    display: grid;
    border-radius: 1vmax 1vmax 0 0;
    align-items: center;
}

#LinksPopUp{
    display: grid;
    justify-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px){
    #LinksPopUp{
        grid-template-rows: 10vh;
        grid-template-columns: 13vw 13vw 13vw 39.75vw;
    }

    .LinkIconImg{
        height: 10vh;
    }

    .PopUpAsso
    {
        height: 90vh;
        width: 90vw;
        top : 5vh;
        left : 5vw;
    }

    #Bordure
    {
        grid-template-columns: 20vw auto 9vh;
        grid-template-rows: 8vh;
        width: 100%;
        height: 8vh;
    }

    #closeCrossPopUpAsso
    {
        height: 6vh;
    }

    #row1-container
    {
        height: 15vh;
        grid-template-columns: 10vw auto 10vw 10vw;
        grid-template-rows: 15vh;
        grid-gap: 0.5vw;
        width: 80vw;
        margin: auto;
        justify-items: center;
        padding: 1vh;
    }

    #LeftArrowButtonPopUP{
        height: 10vh;
        max-width: 10vw;
    }

    #RightArrowButtonPopUP{
        height: 10vh;
        max-width: 10vw;
    }

    #row2-container
    {
        height: 50vh;
        grid-template-columns: 39.75vw 39.75vw;
        grid-template-rows: 50vh;
        grid-gap: 1vw;
        width: 80vw;
        margin: auto;
        padding: 1vh;
        justify-items: center;
    }

    #PoleAssociatif
    {
        font-size : 1.5vmax;
    }

    #EntityName
    {
        font-size : 4vmax;
        justify-self: left;

    }

    #EntityLogoPopUp
    {
        height: 15vh;
    }

    #Texte_PopUp
    {
        font-size: 1.55vmax;
        max-width: 50vw;
        margin: 1vw;
    }

    .PopUpBTN
    {
        height: 5vw;
    }
}

@media only screen and (max-width: 767px){
    #LinksPopUp{
        grid-template-rows: 7vh;
        grid-template-columns: 26vw 26vw 26vw;
    }

    .LinkIconImg{
        height: 7vh;
    }

    .PopUpAsso
    {
        height: 98vh;
        width: 95vw;
        top : 1vh;
        left : 2.5vw;
    }

    .PopUpBTN
    {
        height: 10vw;
    }

    #PoleAssociatif
    {
        font-size : 3vmax;
    }

    #EntityName
    {
        font-size : 3vmax;
        justify-self: left;
    }

    #EntityLogoPopUp
    {
        height: 13vw;
    }

    #LeftArrowButtonPopUP{
        height: 7vh;
        max-width: 7vw;
    }

    #RightArrowButtonPopUP{
        height: 7vh;
        max-width: 7vw;
    }

    #Bordure
    {
        grid-template-columns: 60vw auto 9vh;
        grid-template-rows: 7vh;
        width: 100%;
        height: 7vh;
    }

    #row1-container
    {
        height: 15vw;
        grid-template-columns: 15vw auto 7vw 7vw;
        grid-template-rows: 15vw;
        grid-gap: 1vw;
        width: 80vw;
        margin: auto;
        padding: 2vh;
        justify-items: center;
    }

    #row2-container
    {
        height: 67vh;
        grid-template-rows: 35vh 30vh;
        grid-template-columns: 80vw;
        grid-gap: 0.25vh;
        width: 80vw;
        margin: auto;
        padding: 1vh;
        justify-items: center;
        align-items: center;
    }

    #closeCrossPopUpAsso
    {
        height: 5vh;
    }

    #Texte_PopUp
    {
        font-size: 1.8vmax;
        width: 100%;
    }
}

.vde
{
    background-image: url("../../../src/Assets/Bordures/Bordures__vde.png");
}

.sport
{
    background-image: url("../../../src/Assets/Bordures/Bordures__sport.png");
}

.reseaux
{
    background-image: url("../../../src/Assets/Bordures/Bordures__reseaux.png");
}

.business
{
    background-image: url("../../../src/Assets/Bordures/Bordures__business.png");
}

.culture
{
    background-image: url("../../../src/Assets/Bordures/Bordures__culture.png");
}

.citoyennete
{
    background-image: url("../../../src/Assets/Bordures/Bordures__citoyennete.png");
}

.innovation
{
    background-image: url("../../../src/Assets/Bordures/Bordures__inno.png");
}

.ecole
{
    background-image: url("../../../src/Assets/Bordures/Bordures__ecole.png");
}