.Current_image
{
    min-width: 100%;
    min-height: 100%;
}

.Arrow_btns
{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:35%;
}

.Arrow
{
    z-index: 4;
    cursor: pointer;
    position: relative;
}

.L_Arrow
{
    margin-left: 1.5vw;
}

.R_Arrow
{
    margin-right: 1.5vw;
}

#SlideshowDiv{
    position: relative;
}

.Slide_box
{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 1.5vmax black;
}

.Counter
{
    font-family: "Kaushan Script", cursive;
    color:white;
    text-shadow: 0 0 0.5vmax black;
    font-size: 2vmax;
    display: block;
    text-align: center;
    margin: 0.3vmax auto;
    position: relative;
    bottom: 14%;
}

@media only screen and (max-width: 767px){
    #SlideshowDiv{
        height: 32vh;
        width: 80vw;
    }

    .Arrow{
        width: 4vw;
        height: 20vw;
    }

    .Arrow_btns
    {
        width: 80vw;
    }
}

@media only screen and (min-width: 768px){
    #SlideshowDiv{
        height: 50vh;
        width: 40vw;
    }

    .Arrow_btns
    {
        width: 40vw;
    }

    .Arrow{
        width: 2vw;
        height: 10vw;
    }
}