#SlideshowDiv
{
    display: grid;
    grid-template-areas:
            "a a"
            "b c"
            "d d";
    justify-content: stretch;
    align-content: stretch;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 0 1.5vmax black;
    border-style: solid;
    border-width: 1vmax;
    border-color: whitesmoke;
}

#emptyDivSlideshow{
    grid-area: a;
    height: 5vh;
}
.Arrow
{
    z-index: 4;
    cursor: pointer;
    align-self: center;
}

.L_Arrow
{
    justify-self: start;
    margin-left: 0.1vmax;
    grid-area: b;
}

.R_Arrow
{
    justify-self: end;
    margin-right: 0.1vmax;
    grid-area: c;
}

#counterDiv
{
    font-family: "Kaushan Script", cursive;
    color: white;
    text-shadow: 0 0 0.5vmax black;
    grid-area: d;
    text-align: center;
    vertical-align: bottom;
    height: 5vh;
}

@media only screen and (max-width: 767px){
    #SlideshowDiv{
        height: 30vh;
        width: 80vw;
        grid-template-rows: 5vh 20vh 5vh;
    }

    .Arrow{
        width: 4vw;
        height: 20vw;
    }

    .Arrow_btns
    {
        width: 80vw;
    }

    #counterDiv
    {
        font-size: 4vmax;
    }
}

@media only screen and (min-width: 768px){
    #SlideshowDiv{
        grid-template-rows: 5vh 35vh 5vh;
        height: 45vh;
        width: 36vw;
    }

    .Arrow_btns
    {
        width: 40vw;
    }

    .Arrow{
        width: 2vw;
        height: 10vw;
    }

    #counterDiv
    {
        font-size: 2vmax;
    }
}