#pBaliseWM
{
    font-family: "Roboto Light", sans-serif;
    font-size : 1.3vmax;
    text-align: justify;
    color: black;
}

span
{
    display: block;
    font-family: "Kaushan Script", cursive;
    text-align: right;
}

#Formulaire
{
    display: block;
    border: none;
    border-radius: 1vmax;
    font-family: "Kaushan Script", cursive;
    color : white;
    background-image: url("../../Assets/Bordures/Bordures__ecole.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0.5vmax black;
    margin: auto;
    padding: 0.8vmax;
}

#Formulaire:hover
{
    box-shadow: 0 0 0.5vmax #427fe5;
    color: lightblue;
    cursor: pointer;
}

#Message_WM
{
    display: block;
    margin: auto;
    padding: 1vmax 2.5vmax;
    border-radius: 1vmax;
    box-shadow: 0 0 0.8vmax black;
    background-color: white;
}

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    #Message_WM {
        border-radius: 0;
        border-style: solid;
        border-width: 0.4vmax;
        border-color: white;
        box-shadow: 0 0 0.8vmax black;
        background-color: rgba(0,0,0,0.4);
        backdrop-filter: blur(0.8vmax);
        color: white;
        padding: 1vmax;
    }

    #pBaliseWM{
        color: white;
        padding: 1vmax;
    }
    #Formulaire:hover
    {
        box-shadow: 0 0 0.5vmax white;
        cursor: pointer;
    }
}


@media only screen and (max-width: 767px)  {
    #pBaliseWM
    {
        font-size: 1.9vmax;
    }

    span
    {
        font-size: 1.5vmax;
    }

    #Formulaire
    {
        font-size: 1.5vmax;
    }
}

@media only screen and (min-width: 768px) {
    #pBaliseWM
    {
        font-size: 1.3vmax;
    }

    #Formulaire
    {
        font-size: 1.3vmax;
    }

    span
    {
        font-size: 1vmax;
    }
}